@use "@/styles/abstract/mixins" as mix;

.container {
  grid-area: activity-bar;
  padding: 1.25rem 1.5rem;
  border-right: 1px solid var(--clr-lines);

  @include mix.mobile {
    display: none;
  }

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}
