@use "@/styles/abstract/mixins" as mix;

.container {
  grid-area: tabs;
  display: flex;
  align-items: stretch;

  @include mix.desktop {
    border-bottom: 1px solid var(--clr-lines);
  }
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 3rem;

  padding-inline: 0.85rem;
  font-size: var(--fs-normal);
  line-height: 1;

  @include mix.desktop {
    border-right: 1px solid var(--clr-lines);
  }

  @include mix.mobile {
    // display: none;
    width: 100%;
    border-block: 1px solid var(--clr-lines);
    padding: 1rem 2rem;

    i {
      display: none;
    }
  }

  i {
    font-size: 1.15rem;
  }
}
