@use "@/styles/abstract/mixins" as mix;

.tabs {
  grid-area: tabs;
  display: flex;
  height: 2.8rem;

  @include mix.desktop {
    border-bottom: 1px solid var(--clr-lines);
  }
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 3rem;

  padding-inline: 0.85rem;
  font-size: var(--fs-normal);
  line-height: 1;

  @include mix.mobile {
    width: 100%;
    padding: 1rem 2rem;
    border-block: 1px solid var(--clr-lines);
  }

  @include mix.desktop {
    border-right: 1px solid var(--clr-lines);
  }
}

.icon {
  font-size: 1.15rem;

  @include mix.mobile {
    display: none;
  }
}
