@use "@/styles/abstract/mixins" as mix;

.container {
  grid-area: tabs;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid var(--clr-lines);
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 3rem;

  padding-inline: 0.85rem;
  border-right: 1px solid var(--clr-lines);
  font-size: var(--fs-normal);
  line-height: 1;

  i {
    font-size: 1.15rem;
  }
}
