@use "@/styles/abstract/mixins" as mix;

.footer {
  z-index: 2;
  border-top: 1px solid var(--clr-lines);

  .list {
    display: grid;
    grid-template-columns: 1fr auto auto auto;

    @include mix.desktop {
      grid-template-columns: auto auto auto 1fr auto;
    }
  }

  .item {
    padding: 1.25rem;
    font-size: var(--fs-normal);
    color: var(--clr-secondary);
    border-right: 1px solid var(--clr-lines);

    &:last-child {
      border-right: none;
    }
  }

  .emptyItem {
    border-right: 1px solid var(--clr-lines);
  }

  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @include mix.mobile {
    .emptyItem,
    .username {
      display: none;
    }
  }
}
