@use "@/styles/mixins" as mix;

.contact {
  height: 100%;
  color: var(--clr-secondary);

  @include mix.desktop {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 2.75rem auto;
    grid-template-areas: "sidebar tabs tabs" "sidebar formArea codeDisplay";
  }

  .sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--clr-lines);
    font-size: var(--fs-normal);
    line-height: 1;
  }

  .sidebarHeadline {
    display: flex;
    align-items: center;
    gap: 0.1875rem;

    border-block: 1px solid var(--clr-lines);
    padding: 0.375rem;
    color: var(--clr-white);

    i {
      font-size: 2rem;
    }
  }

  .sidebarWindow:first-child .sidebarHeadline {
    border-top: none;
  }

  .sidebarList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
    padding: 1.25rem 1.5rem 1.5rem 0.875rem;
  }

  .sidebarItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    i {
      font-size: 1.15rem;
    }
  }

  .tabs {
    grid-area: tabs;
    display: flex;
    align-items: stretch;

    @include mix.mobile {
      display: none;
    }
  }

  .tabItem {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 3rem;

    padding-inline: 0.85rem;
    font-size: var(--fs-normal);
    border-right: 1px solid var(--clr-lines);
    line-height: 1;

    i {
      font-size: 1.15rem;
    }
  }

  .formArea {
    grid-area: formArea;
    border-top: 1px solid var(--clr-lines);
    border-right: 1px solid var(--clr-lines);

    display: flex;
    justify-content: center;

    padding-top: 12vh;

    @include mix.mobile {
      padding: 2rem;
    }
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }

  .field {
    font-size: var(--fs-normal);
    color: var(--clr-secondary);
    padding: 0.6rem;
    background-color: var(--clr-primary-3);
    border-radius: 0.5rem;
    outline: none;
    resize: none;
    border: 1px solid var(--clr-lines);
  }

  .submit {
    border: none;
    cursor: pointer;
    padding: 0.75rem 1rem;
  }

  .codeDisplay {
    grid-area: codeDisplay;
    border-top: 1px solid var(--clr-lines);

    display: flex;
    justify-content: center;
    padding-top: 12vh;

    @include mix.mobile {
      display: none;
    }
  }

  .codeList {
    padding-left: 3.5rem;
  }

  .codeListItem {
    &::marker {
      content: counter(list-item) "\a0\a0";
    }
  }
}
