// Import Fonts
@font-face {
  font-family: FiraCode;
  src: url("/fonts/FiraCode/FiraCode-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: FiraCode;
  src: url("/fonts/FiraCode/FiraCode-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: FiraCode;
  src: url("/fonts/FiraCode/FiraCode-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: FiraCode;
  src: url("/fonts/FiraCode/FiraCode-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: FiraCode;
  src: url("/fonts/FiraCode/FiraCode-Bold.ttf");
  font-weight: 700;
}
