* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}
