@use "@/styles/mixins" as mix;

.projects {
  height: 100%;
  color: var(--clr-secondary);

  @include mix.desktop {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2.75rem auto;
    grid-template-areas: "sidebar tabs" "sidebar grid";
  }

  .sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--clr-lines);
    font-size: var(--fs-normal);
    line-height: 1;
  }

  .sidebarHeadline {
    display: flex;
    align-items: center;
    gap: 0.1875rem;

    border-bottom: 1px solid var(--clr-lines);
    padding: 0.375rem;
    color: var(--clr-white);

    i {
      font-size: 2rem;
    }
  }

  .sidebarList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
    padding: 1.25rem 1.5rem 1.5rem 0.875rem;
  }

  .sidebarListItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    i {
      font-size: 1.15rem;
    }
  }

  .tabs {
    grid-area: tabs;
    display: flex;
    align-items: stretch;
  }

  .tabItem {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 3rem;

    padding-inline: 0.85rem;
    font-size: var(--fs-normal);
    border-right: 1px solid var(--clr-lines);
    line-height: 1;

    i {
      font-size: 1.15rem;
    }

    @include mix.mobile {
      border: none;

      i {
        display: none;
      }
    }
  }

  .grid {
    grid-area: grid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;

    padding: 1.5rem;

    @include mix.desktop {
      border-top: 1px solid var(--clr-lines);
      flex-direction: row;
      align-items: flex-start;
      padding: 5rem;
    }
  }

  .cardName {
    font-size: var(--fs-normal);
    margin-bottom: 0.75rem;

    span:first-child {
      font-weight: var(--fw-bold);
      color: #5565e8;
    }

    span:last-child {
      color: var(--clr-secondary);
      margin-left: 1rem;
    }
  }

  .card {
    background-color: var(--clr-primary-3);
    border: 1px solid var(--clr-lines);
    border-radius: 15px;
    max-width: 360px;
    position: relative;
  }

  .icon {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;

    color: var(--clr-primary-3);
    background-color: var(--clr-secondary-2);
    display: inline-flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }

  .cardContent {
    padding: 1.5rem;

    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    button {
      padding: 0.5rem;
      font-size: var(--fs-small);
      cursor: pointer;
    }
  }
}
