@use "./abstract/mixins.scss" as mix;

.about {
  color: var(--clr-secondary);

  @include mix.desktop {
    display: grid;
    grid-template-columns: auto auto 1fr 1.1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "activity-bar sidebar tabs tabs"
      "activity-bar sidebar editor-window snippets-window";
  }
}

.snippetsWindow {
  grid-area: snippets-window;
  padding: 1rem 2rem;
  overflow-x: auto;

  @include mix.desktop {
    min-width: 32rem;
  }
}

.snippetsComment {
  margin-bottom: 2rem;
}

.snippetItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: var(--fs-small);
}

.snippetUserDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.snippetImage {
  position: relative;
  width: 100%;
  max-width: 664px;
  aspect-ratio: 3.065/1;

  &[data-height="short"] {
    aspect-ratio: 3.99/1;
  }
}
