@use "@/styles/abstract/mixins" as mix;

.contact {
  color: var(--clr-secondary);

  @include mix.desktop {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar tabs"
      "sidebar contact-area";
  }
}
