@use "./abstract/fonts.scss";
@use "./abstract/mixins.scss" as mix;
@use "./abstract/scrollbar.scss";
@use "./abstract/checkbox.scss";
@use "./abstract/reset.scss";

/* Root Level */
:root {
  --fs-small: 0.875rem;
  --fs-normal: 1rem;
  --fs-medium: 1.125rem;
  --fs-large: 2rem;
  --fs-xlarge: 3.875rem;

  --clr-primary: #01080e;
  --clr-primary-2: #011627;
  --clr-primary-3: #011221;
  --clr-primary-4: #1c2b3a;
  --clr-primary-5: #263b50;
  --clr-primary-6: #010c15;
  --clr-secondary: #8098b3;
  --clr-secondary-2: #3c9d93;
  --clr-secondary-3: #4d5bce;
  --clr-secondary-4: #5565e8;
  --clr-accent: #fea55f;
  --clr-accent-2: #43d9ad;
  --clr-accent-3: #e99287;
  --clr-accent-4: #c98bdf;
  --clr-accent-5: #ffac68;
  --clr-lines: #1e2d3d;
  --clr-white: #ffffff;
}

/* Globals CSS */
body {
  background-color: var(--clr-primary-6);

  font-family: "FiraCode Regular", sans-serif;
  font-size: var(--fs-medium);

  color: var(--clr-white);
}

.page {
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  background-color: var(--clr-primary-2);

  border: 1px solid var(--clr-lines);
  overflow: hidden;
}

.button {
  padding: 0.5rem;
  font-size: var(--fs-small);
  color: var(--clr-white);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: 0.3s;

  &[data-disabled="true"] {
    pointer-events: none;
    opacity: 0.4;
  }

  &--primary {
    background-color: #5565e8;

    &:hover {
      opacity: 0.9;
    }
  }

  &--secondary {
    background-color: var(--clr-primary-4);

    &:hover {
      background-color: var(--clr-primary-5);
    }
  }
}

.icon {
  font-size: 1.5rem;
  color: rgba(96, 123, 150, 0.4);

  &:hover {
    color: var(--clr-secondary);
  }

  &[data-active="true"] {
    color: var(--clr-secondary);
  }

  &[data-active-desktop="true"] {
    @include mix.desktop {
      color: var(--clr-secondary);
    }
  }
}

/* Utilitie CSS */
.color-purple {
  color: var(--clr-secondary-3);
}

.color-green {
  color: var(--clr-accent-2);
}

.color-brown {
  color: var(--clr-accent);
}

.color-magenta {
  color: var(--clr-accent-4);
}

.url {
  color: var(--clr-accent-3);
  text-decoration: underline;

  &:hover {
    color: var(--clr-secondary);
  }
}

.indent {
  margin-left: 1rem;
}

.opacity-half {
  opacity: 0.4;
}

.opacity-low {
  opacity: 0.1;
}

.fade-mobile {
  @include mix.mobile {
    transition: 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;

    &[data-active="true"] {
      visibility: visible;
      opacity: 1;
    }
  }
}

.fade-desktop {
  @include mix.desktop {
    transition: 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;

    &[data-active="true"] {
      visibility: visible;
      opacity: 1;
    }
  }
}
