@use "./fonts.scss";
@use "./mixins.scss" as mix;
@use "./scrollbar.scss";

// Root Variables
:root {
  --fs-headline: 3.875rem;
  --fs-subheadline: 2rem;
  --fs-body: 1.125rem;
  --fs-lables: 1rem;
  --fs-snippets: 0.875rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --btn-radius: 0.5rem;
  --body-padding: 0.9375rem;

  --clr-primary: #01080e;
  --clr-primary-2: #011627;
  --clr-primary-3: #011221;
  --clr-primary-4: #1c2b3a;
  --clr-primary-5: #263b50;
  --clr-primary-6: #010c15;
  --clr-secondary: #607b96;
  --clr-secondary-2: #3c9d93;
  --clr-secondary-3: #4d5bce;
  --clr-secondary-4: #ffffff;
  --clr-accent: #fea55f;
  --clr-accent-2: #43d9ad;
  --clr-accent-3: #e99287;
  --clr-accent-4: #c98bdf;
  --clr-accent-5: #ffac68;
  --clr-lines: #1e2d3d;
  --clr-gradinets: #4d5bce;
  --clr-gradinets-2: #43d9ad;
}

// Reset Styles
body {
  font-family: FiraCode;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);

  background-color: var(--clr-primary-6);
  color: var(--clr-secondary-4);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

// Global Styles
.container {
  max-width: 75.125rem;
  margin-inline: auto;
  padding: 0 1.625rem;
}

.button {
  background-color: var(--clr-primary-4);
  color: var(--clr-secondary-4);
  border: 1px solid transparent;
  border-radius: var(--btn-radius);

  &:hover {
    background-color: var(--clr-primary-5);
  }

  &--primary {
    background-color: var(--clr-accent);
    color: var(--clr-primary);

    &:hover {
      background-color: var(--clr-accent-5);
    }
  }

  &--ghost {
    background-color: transparent;
    border-color: var(--clr-secondary-4);

    &:hover {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.social {
  color: rgba(96, 123, 150, 0.4);

  &:hover {
    color: var(--clr-secondary);
  }
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  background-color: var(--clr-primary-2);
  border: 1px solid var(--clr-lines);

  position: relative;
  overflow: hidden;
}
