@use "@/styles/abstract/mixins" as mix;

.hero {
  height: 100%;
  overflow: hidden;

  .content {
    height: 100%;

    @include mix.desktop {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 4.5rem;
    }
  }

  .text {
    height: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include mix.desktop {
      justify-content: center;
      gap: 5.3rem;
    }
  }

  .headline {
    color: #e5e9f0;
  }

  .textWelcome {
    display: block;
    margin-bottom: 0.25rem;
  }

  .textName {
    display: block;
    font-size: var(--fs-xlarge);
    margin-left: -0.25rem;
    line-height: 1;

    @include mix.mobile {
      --fs-xlarge: 2.5rem;
      margin-bottom: 0.25rem;
    }
  }

  .textRole {
    font-size: 1.25rem;
    color: var(--clr-accent-2);

    display: flex;
    align-items: center;
    gap: 0.15rem;
    margin-left: -0.5rem;

    i {
      font-size: 1.65rem;
    }

    @include mix.desktop {
      font-size: var(--fs-large);
      color: var(--clr-secondary-3);
    }
  }

  .snippets {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    font-size: var(--fs-small);

    @include mix.mobile {
      gap: 1rem;
      max-width: 20.625rem;
    }
  }

  .comment {
    color: var(--clr-secondary);
  }

  .variable {
    font-weight: var(--fw-medium);

    .variableKey {
      color: var(--clr-secondary-3);
    }

    .variableName {
      color: var(--clr-accent-2);
    }

    .variableQuota {
      color: var(--clr-accent-3);
    }

    .variableString {
      color: var(--clr-accent-3);
      text-decoration: underline;
      word-break: break-all;

      &:hover {
        color: var(--clr-secondary);
      }
    }
  }

  .imagesWrapper {
    position: relative;

    @include mix.mobile {
      display: none;
    }
  }

  .images {
    position: absolute;
    transform: translateY(-50%);
  }

  .blurs {
    position: absolute;
    right: 50%;
    transform: translateX(80%);

    @include mix.mobile {
      top: 50%;
      transform: scale(1.75) translate(25%, -28%);
    }
  }

  .opacityFull {
    opacity: 1;
  }

  .opacityHalf {
    opacity: 0.4;
  }

  .opacityLow {
    opacity: 0.1;
  }
}
