@use "@/styles/abstract/mixins" as mix;

.projects {
  height: 100%;
  color: var(--clr-secondary);

  @include mix.desktop {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2.8rem auto;
    grid-template-areas:
      "sidebar tabs"
      "sidebar projects";
  }

  .projects_wrapper {
    grid-area: projects;
    padding: 3rem;
  }

  .grid {
    display: grid;
    gap: 3rem;

    @include mix.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mix.small-screen {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mix.desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mix.big-screen {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .card_wrapper {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--clr-primary-3);
    border: 1px solid var(--clr-lines);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }

  .card_title {
    font-size: var(--fs-normal);
    margin-bottom: 0.75rem;

    span:first-child {
      margin-right: 1rem;
      font-weight: var(--fw-bold);
      color: #5565e8;
    }
  }

  .card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;

    padding: 1rem 1.5rem 1.5rem;
    line-height: 1.5;
  }

  .card_tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: auto;
    padding-bottom: 1rem;
  }

  .card_tech_item {
    padding: 0.15rem 0.35rem;
    background-color: var(--clr-secondary);
    color: #000;
    border-radius: 2px;
    font-size: 0.9rem;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }

  .demo {
    background-color: #5565e8;

    &:hover {
      opacity: 0.9;
    }
  }
}
