:root {
  scrollbar-color: var(--clr-secondary) transparent !important;
}

*::-webkit-scrollbar {
  width: 1.25rem; /* vertical scrollbar */
  height: 1.25rem; /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-top: 1px solid var(--clr-lines);
}

*::-webkit-scrollbar-thumb {
  background: var(--clr-secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-5);
}
